<div class="box commentCard" style="max-height: 350px; overflow: scroll;">
    <!-- <div class="buttons" id="buttons" style="margin-top: .5rem; justify-content: center;">
        <button class="button is-primary" name="addButton">Der Idee etwas hinzufügen</button>
    </div> -->
    <div class="timeline">
        <div class="timeline-item" id="newCommentInput">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
                <p class="heading" id="addTitle">neuer Kommentar</p>
                <div class="field">
                    <textarea class="textarea" placeholder="Der Idee etwas hinzufügen?" id="commentInput" style="min-height: 4em;" ></textarea>
                </div>
                <button class="button is-primary" name="saveButton">Speichern</button>
            </div>
        </div>
        <div id="itemContainer"></div>
    </div>
</div>