
<div class="box" style="width: 891px;">
    <div class="tabs">
        <ul id="tab-container">
            <li class="is-active"><a name="tabButton" key="0">Lösungsvorschlag 1</a></li>
        </ul>
    </div>
    <div class="field">
        <input class="input" type="text" placeholder="Titel eintragen" name="titleInput">
    </div>
    <div class="field">
        <div class="control">
          <textarea class="textarea" placeholder="Lösung beschreiben" name="solutionInput" style="height: 190px"></textarea>
        </div>
         <p class="help is-danger" id="solutionError" style="display: none;">Jede Lösung braucht eine Beschreibung.</p>
    </div>
    <div class="buttons">
        <button class="button is-secundary" name="moreButton" id="moreButton">Neue Lösung</button>
        <button class="button is-primary" name="doneButton">Fertig</button>
    </div>

</div>