<div>
  <div class="card" style="max-width: 500px;">
      <div class="card-content">
        <p class="title is-5 is-primary" id="messageTitle" style="display: none;"></p>
        <div class="content" id="messageContent" style="white-space: break-spaces;">
          content
        </div>
      </div>
  </div>
  <div class="buttons" style="justify-content: center; padding: 5%;">
      <a class="button is-primary" name="confirmationButton" id="confirmationButton" style="margin-right: 3%;">Ich habe eine Idee!</a>
      <a class="button is-link" name="cancelButton" id="cancelButton">Keine Ahnung</a>
  </div>
</div>
