<div class="card solution-display">
    <div class="card-content" style="width: 200px;">
      <div class="content" id="solutionDescription" style="display: -webkit-box; overflow: hidden; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
        Beschreibung bla bla
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="likeButton icon is-small has-text-link"><i class="likeButton fa-heart fa-regular" id="likeIcon"></i></span>
          </a>
          <p id="likeAmount">0</p>
        </div>
      </nav>
    </div>
  </div>