<div class="card" style="max-width: 80%; display: block; margin-left: auto; margin-right: auto;">
    <div class="card-content">
        <p class="title is-1" id="cardTitle">Sie haben es geschafft!</p>
        <figure class="image is-128x128">
            <img src="./ba-game/assets/images/doneTree.png">
          </figure>
        <div class="content" id="cardText">
            Der Baum ist schön hoch gewachsen. Größer wird er leider nicht, aber erkunden sie doch gerne weiter die Herausforderungen und Lösungen. :)
        </div>
    </div>
    <footer class="card-footer">
        <a class="card-footer-item" name="startButton" id="confirmationButton">Weiter</a>
      </footer>
</div>